:root{
    --primary-color : #ee4d2d;
    --white-color : #fff;
    --black-color : #000;
    --text-color  : #333;
    --boder-color : #dbdbdb;
    --primary-hover:#e87963;
    --star-gold-color: #FFCE3E;

    --header-height:120px;
    --navbar-height: 34px;
    --header-with-search-height:calc(var(--header-height)var(--navbar-height));
}
*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}
.container {
    width: 100%;
    background-color:var(--white-color) !important;
    /* background-color:var(--white-color); */
}

html{
    /* font-size: 62.5%;
    line-height: 1.6rem; */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 30px;
    background: #FF6633;
    font-size: 14px;

}
@keyframes submemu {
    0%{
        top : 150px;
    }
}
.col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
}
.col-lg-3 {
    position : relative;
    flex: 0 0 auto;
    width:23%;
    padding:12px;
    background-color : white;  
}
.col-lg-3s {
    position : relative;
    flex: 0 0 auto;
    width:22%;
    padding:12px;
}
.col-lg-7{
    width: 50%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 21px 0 rgb(184 159 59 / 15%);
    border: none;
    top: 0;
    transition: all .3s ease 0s;
}
.col-lg-12 {
    flex: 0 0 auto;
    width: 1200px;
    margin-left: 20px ;
}
table {
    caption-side: bottom;
    border-collapse: collapse;}