
.header{
    height: 31px;
    width: 100%;
    /* position: fixed;
    top: 0; */
}

.grid_icon{
    float: left;
    padding: 10px 0 0 90px;
    margin: 0 5px 0 0  ;
    color: var(--white-color);
}
.grid_icon_info{
    float: left;
    padding:9px 0 0 0;
    color: var(--white-color);
}
.grid_info_separate::after{
    content: "";
    display: block;
    border-left: 1px solid #f79287;
    height:15px;
    right: -9px;
    top: 50px;
    transform: translateY(-55%);
    float:right;
    margin:6px 0 0 4px ;
}
.grid_icon_phone{
    float: left;
    padding: 9px 0 0 5px;
    margin: 0 5px 0 0  ;
    color: var(--white-color);
    transform: rotate(-45deg);
}
.grid_icon_phone_info{
    float: left;
    padding: 9px 0 0 0;
    color: var(--white-color);
}
.grid_login{
    float: right;
    padding: 10px 90px 0 0;
    color: var(--white-color);
}
.grid_login_a {
    text-decoration: none;
    color: #fff!important;
    padding: 10px 0 0 5px ;
}
.grid_login_icon{
    padding-left: 15px ;
}
.grid_register{
    float: right;
    padding: 10px 10px 0 0;
    color: var(--white-color);
}
.user-avatar{
    width: 28px; 
    height: 28px; 
    background-color:#fff;
    Border-radius:50%
}
/* ----------------------- */
.header_account{
    float: right;
    padding: 0px 90px 0 0;
    color: var(--white-color);
    display: block;
    z-index: 100;
    
}
.header_account:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-menu{
    position: absolute;
    z-index: 101;
    padding-left:  0px;
    top: calc(35px);
    right: 50px;
    width: 230px;
    border-radius: 2px;
    background-color: #ff9966;
    list-style: none;
    box-shadow: 0 1px 2px rgb(100, 100, 100);
    display: none;
}
.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 100%;
    height: 15px;
    
}
.header__navbar-user-item--separate{
    border-top: 1px solid rgb(228, 228, 228);

}

.header__navbar-user-item a{
   text-decoration: none;
   color: #FFF;
   font-size: 1rem;
   padding: 6px 16px;
   display: block;
}

.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover{
    background-color: #d6d4d4;
}

.header__navbar-user-item::before{
    content: "";
    border-width: 10px 15px;
    border-style:solid ;
    border-color: transparent transparent #FF9966 transparent;
    position: absolute;
    right: 50px;
    top: -20px;
}

/* ------------------------ */
.grid_register_separate::after{
    content: "";
    display: block;
    border-left: 1px solid #f79287;
    height:15px;
    right: -9px;
    top: 50px;
    transform: translateY(-55%);
    float:right;
    margin:6px 0 0 8px ;
}

.clear_grid{
    clear: both;
}


.header_logo{
    padding-left: 50px;
    float: left;
    
   
}
.header_ul{
    /* float: left;
    display: block; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__navbar{
    text-decoration: none;
    float: left;
    list-style: none;
    /* padding: 40px 0 25px 0; */
    margin: 2px 0;
    display: block;
}
/* .header__navbar:first-child{

} */
.header_a{
    text-decoration: none;
    color:#000;
    padding : 0 15px;
    height: 100%;
    font-size:15px;
    font-weight: 500;
    display: block;
    height: 80px;
    line-height: 80px;
    
}
.header__navbar:hover{
    background-color: rgb(237, 206, 206);
    color: #FF6633;
}
.header__navbar:hover >a{
    color: #FF6633;
}


.header_buy:hover .header__buy_house__list{
    display: block;
    animation: submemu 0.2s linear ;
}

.header__buy_house__list{
    position: absolute;
    top: 88px;
    z-index: 15;
    width: auto;
    border-radius: 2px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    cursor: default;
    /* transform-origin: calc(100% - 32px) top; */
    /* animation: headernNontifyGrowth ease-in 0.2s; */
    will-change: opacity, transform;
    display: none;
}

.header__buy_house__list::after{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 100%;
    height: 8px;
   
}
.header_navbar_list{
    display: block;
}
.header_navbar_list a{
    transition: all 0.2s ease;
    text-decoration: none;
    color: var(--text-color);
    font-size: 12px;
    padding: 16px 16px;
    display: block;
 }
 

.header_navbar_list a:hover{
    background-color: #d6d4d4;
    color:var(--primary-color);
    padding-left: 19px;
}
.header_rent:hover .header__buy_house__list{
    display: block;
    animation: submemu 0.2s linear ;
}
.header_project:hover .header__buy_house__list{
    display: block;
    animation: submemu 0.2s linear ;
}
.header_phonebook:hover .header__buy_house__list{
    display: block;
    animation: submemu 0.2s linear ;
}
.header_news:hover .header__buy_house__list{
    display: block;
    animation: submemu 0.2s linear ;
}

.header_button_post_icon{
    color:#999999;
    font-size: 14px;
}
.header_button_post{
    float: right;
    margin: 20px 85px 30px 300px;;
    background : #EF5350;
    border: none;
    border-radius:2px ;
    padding:10px;
}
.header_button_post_icon{
    size:16px;
    color:var(--white-color);
}
.header_button_post_write{
    color:var(--white-color);
    font-size: 13px;
    margin-left: 8px;
    font-weight: 600;
}


.clear_header{
    clear:both;
}
.menu{
    position: relative;
    /* height: 250x; */
    width: 100%;
    /* background-color: var(--white-color); */
   
}
/* .slider_opacity{
    background:  rgba( 0, 0, 0, 0.5);
    opacity: 0.8;
} */
.slider_item{
    position : relative;
}
.slider_item::before{
    content : "";
    display : block;
    position : absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    
}
.slider_item.slider_item_one {
    background-image: url('../img/banner_batdongsan2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    
}
.slider_item.slider_item_two {
    background-image: url('../img/banner_batdongsan1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.slider_item.slider_item_three {
    background-image: url('../img/banner_batdongsan3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
/* ------------Owlcaroules------------- */
.owl-prev{
    position: absolute;
    left: 10px;
    top: 46%;
    transform: translateY(-50%);
    font-size: 50px !important;
    color : #fff !important;
}
.owl-next{
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-40%);
    font-size: 50px !important;
    color : #fff !important;
}
.owl-next,.owl-prev:hover{
    background:none!important;
}
.owl-dots{
    position: absolute;
    display: flex ;
    flex-direction: column;
    top: 45%;
    right: 60px;
    transform: translateY(-50%);
}
.owl-dot{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    display: flex!important;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
    border: 2px solid var(--white-color)!important;
}
.owl-dot.active span{
    background-color: #FF6633!important;
}
.owl-dot span{
    width: 15px !important;
    height: 15px!important;
    margin: 0 !important;
    background-color: transparent!important;
}
/* -----------------sLIDER-CONTENT------------------ */
.slider_item{
    display : flex;
    align-items: center;
}
.wrapper{
    max-width: 1200px;
    width: 100%;
    margin : auto ;
    position : relative;
}
.slider_item_text{
    position : absolute ;
    top: 50%;
    left: 70px;
    z-index: 99;
    opacity: 1;
    transform: translateY(-50%);
}
.slider_item_text p {
    color: #FF6633;
    font-weight: bold;
    font-size:40px;
    padding: 5px;
    text-transform: uppercase;
    
}

/* -------------main--------------- */
.main{
    /* max-width: 1200px; */
    width: 100%;
    height: auto;
    background-color:white;
    margin: 0 auto ;
    min-height: 442px;
}
.justify-content-center{
    width: 100%;
    height: auto;
    background-color:white;
    padding-bottom: 80px;
   
}

.heading1{
    text-align: center;
    font-size:40px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 80px 0 10px 0;
    color : #2D3954;
}
.main_hr{
    width: 120px;
    height: 4px;
    margin-left: 615px;
    background-color: #FF6633;
    border : none;
}
.heading2{
    font-size:20px;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}
.heading3{
    font-size:18px;
    text-align: center;
    padding: 10px 0 40px 0;
    line-height: 28px;
}


/* .ponsition-relative{
    position : relative!important;
} */
/* --------------------------- */
.row{
    max-width: 1200px;
    flex-wrap: wrap;
    display: flex;
    margin : 60px auto ;
}
.col-lg-3 {
    position : relative;
    flex: 0 0 auto;
    width:23%;
    padding:12px;
    background-color : white;
   
}
.col-lg-3__padding{
    width: 230px;
    margin: 0 auto;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0 0  10px rgb(107, 105, 105);
    padding : 20px  0 0 0 ;
}
.icon-features {
    background-color: #fff4c9;
    color: #ff6633;
    width: 85px;
    height: 85px;
    line-height: 90px;
    text-align: center;
    transition: .25s ease-in-out;
    font-size: 30px;
    border-radius: 50%;
    margin: 15px auto;
    position: relative;
}
.icon-features::before{
    font-family: "font awesome 5 free";
    font-weight: 900;
    content: "\f101";
    position: absolute;
    width: auto;
    height: auto;
    background: 0 0;
    left: 100%;
    top: 50%;
    font-size: 30px;
    margin-top: 45px;
    margin-left: 90px;
    z-index: 5;
        /* color: #c8c8c8;   */
}
.icon-features.last::before{
  content: "";
}
.heading_center{
    padding: 12px ;
}
.middle-icon-features-content{
    padding: 10px 20px 0 20px; 
}
.heading4{
    font-weight: bold;
    font-size:18px;
    text-align: center;
    line-height: 20px;
    padding-bottom: 10px;
}
.heading5{
    text-align: center;
    font-size : 14px;
    line-height: 20px;
}

.justify-content-center2{
    width: 100%;
    background-color: #F8F8F8;
}
.clearfix{
    clear: both;
    display: block;
    content: "";
}
.col-lg-7{
    width: 50%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 21px 0 rgb(184 159 59 / 15%);
    border: none;
    top: 0;
    transition: all .3s ease 0s;
}
.table_benefit{
    margin :10px 20px 0 20px;
    border-collapse: collapse;
}
.table_benefit_tr{
    border-width: 0;
}
.table_benefit_tr:nth-of-type(even) {
    background-color: #EBEDEF;
    color:#212529;

}
.text-center{
    text-align: center!important;
}
.no-border{
    padding :15px 12px;
    border-style: solid;
    border-width: 0;
    color : #000!important;
}
.mt-2{
    padding: 15px 0 0 25px;
}
.benefit_img{
    margin-left: 50px;
    height : 400px;

}
/* --------------------section3------------- */
.justify-content-center3{
    background-image: url(../img/roadmap-bg.png);
    position: relative;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    /* width: 100%; */    
}
.col-lg-3s {
    position : relative;
    flex: 0 0 auto;
    width:24.5%;
    padding:12px;
}
.col-lg-3__paddings{
    width: 230px;
    margin: 0 auto;
    height: 350px;
    border-radius: 20px;
   
    padding : 20px  0 0 0 ;
}
.row_center{
    width: 100%;
    max-width: 1095px;
    margin: 30px auto;
    height: 270px;
    position: relative;
}
.col-lg-3_road_map{
    position: relative;
    flex: 0 0 auto;
    width: 23%;
    padding: 12px;
}
.road_map{
    width: 100%;
    max-width: 1095px;
    margin: 30px auto;
    height: 270px;
    position: relative;
}
.background_road_map{
    background-image: url(../img/timeline.png);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}
.road_map_heading{
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}
.road_map_center{
    position: relative;
    margin: 80px 0;
}
.gvm_div{
    padding : 60px 0;
    margin-left: 25px;
}
.heading4s{
    font-size:20px;
    text-align: center;
    padding-bottom: 8px;
}
.heading5s{
    font-size:18px;
    text-align: center;
    text-transform: uppercase;
    color: #FF6633;
    padding-bottom: 8px;
}
.heading6s{
    font-size:18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.col-lg-3_heading{
    margin:  60px 0 0 35px;
    width: 100%;
    line-height: 25px;
}
.col-lg-3_heading.last{
    padding-top: 25px;
}
.col-lg-3_heading p{
    margin:  0 0 5px;
    font-size: 16px;
    font-weight: 300;
}
.box_center3 {
    margin-bottom: 280px;
}

/* ------------footer-----------*/
.footer{
    background-color: #FF9966;
}

/* .invest{
    margin-top: 30px;   
} */
/* .box_center4{
    background-color: #FF9966;
} */
.row_footer{
    max-width: 1200px;
    flex-wrap: wrap;
    display: flex;
}
.col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
}
.call-to-act{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    margin-left: 50px;
    /* display:none; */
}
.uppercase{
    margin-bottom: 10px;
    font-size: 30px;
    text-transform: uppercase;
}
.call-to-act-heading>span{
    font-weight: 350;
    
}
.btn-call-to-act {
    background: #fff;
    padding: 18px 40px;
    border-radius: 50px;
    color: #333640;
    font-weight: 600;
    margin-right: 50px;
    text-decoration: none;
    box-shadow: 0 0 10px rgb(107 105 105);
}
.footer a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase!important;
}
.dau_a{
    color : #fff!important;
    text-transform: uppercase;
}
.copyright{
    font-size:14px;
    text-align: center;
    /* margin-top: -50px; */
    padding: 20px 0 15px 0;
    color: #fff;
    background-color: #212529;
    border-radius: 20px 20px 0 0;

}
/* -----------------main_BDS------------------ */
.main_BDS{
    height: auto;
    min-height: 1300px;
    background-color: #FDFDFA;
}
.main .main_header{
    height : 170px;
    background-color: #FF6633;
}
.main .main_header .main_header_h3{
    line-height: 80px;
    padding-left: 30px;
    color : #004E7F;
    font-size: 24px;
}
.main .main_header .main_container{
    width: 1300px;
    margin: 0 auto;
}
.main .main_header .main_row {
    display: flex;
    flex-wrap: wrap;
    margin:  auto;
    padding-top: 70px;
}
.main .main_header .main_itemwraper{
    flex: 1 1 auto;
    min-width: 0;
    margin: 0 13px 50px 13px; 
    width: 23%;
    max-width: 23%;
    list-style: none;
    
}
.main .main_header .main_itemwraper:hover{
    box-shadow: 1px 6px 0 rgb(0 0 0 / 5%);
    transform: translateY(-5px);
}
.main .main_header .main_propertyLink{
    display: block;
    text-decoration: none;
}
.main .main_header .main_propertyLink .main_card{
    height: 12.5rem;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 21px 0 rgb(184 159 59 / 15%);
}
.main .main_header .main_propertyLink .main_card .main_card_imgContainer{
    height: 13.5rem;
    overflow: hidden;
    border-radius: 30px;
    /* margin: 0 5px 0 5px; */
}

.main .main_header .main_propertyLink .main_card .main_card_imgContainer .main_card_imgContaine__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    /* filter: blur(4px) brightness(.5); */
}
span.main_status{
    color: red;
    position: absolute;
    top: 34%;
    left: 50%;
    -webkit-transform: translateY(-20%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    display: block;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}
span.main_card_imgContaine__img{
    font-size: 36px;
    font-weight: 900;
    color: inherit!important;
}
/* -------------- */
.main_card_body{
    padding: 1.5rem;
    font-size: .875rem;
    line-height: 1;
    flex: auto;
    border-radius: 0 0 40px 40px;
    color: #000;
}
.main_card_body .main_card_body__title{
    margin: 0 0 .5rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}
.main_card_body .main_card_body__priceProject{
    background-color: #ff9966;
    border-radius: .75rem;
    font-size: 1.25rem;
    padding: .75rem 1rem .5rem;
    margin: 1.2rem 0 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
.main_card_body .main_card_body__detailWrapper{
    display: flex;
    align-items: center;
    margin: 0 0 .5rem;
}
.main_card_body .main_card_body__detailWrapper .main_card_body__detailIcon{
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
    border-radius: 50%;
    background: #edf1f9;
}
.main_card_body .main_card_body__detailWrapper .main_card_body__detailLabel{
    margin: 0 .5rem 0 0;
    overflow-x: auto;
    overflow-y: hidden;
}
.main_card_body .main_card_body__detailWrapper .main_card_body__detailValue{
    flex: 1 0;
    text-align: right;
    font-weight: 700;
    color: #479d68;
}
input.themgiohang {
    border: none;
    background: #FF9933;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    cursor: pointer;
    margin: 10px 180px;
    border-radius: 10px;
}
.main_card .main_card_divider{
    border-style: solid;
    display: block;
    width: 100%;
    height: 0;
    border: 0;
    border-bottom: 1px dashed #e3e3e3;
    margin-bottom: .875rem;
}
.main_card .main_card_Investercontainer{
    display: flex;
    justify-content: space-between;
    margin: 0 0 .5rem;
}
.main_card .main_card_Investercontainer .main_card_Percentage{
    color: #c36605;
    font-weight: 700;
    text-align: right;
}
.main_card .main_card_Progresscontainer{
    margin: 0 0 .5rem;
    display: flex;
    align-items: baseline;
    width: 100%;
}
.main_card .main_card_Progresscontainer .main_card_Progress{
    flex: auto;
    position: relative;
    display: flex;
    width: 100%;
    height: .75rem;
    border: 0;
    border-radius: 5.5px;
    background-color: #f5f5f5;
    overflow: hidden;
}
.main_card .main_card_Progresscontainer .main_card_Progressvalue{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 5.5px;
    background-color: #ffcb00;
    transition: width .6s ease;
}


.main_card .main_card_Footercontainer{
    display: flex;
    align-items: center;
}
.main_card .main_card_Footercontainer .main_card_Footer{
    flex: 1 0;
}
.main_card .main_card_Footercontainer .main_card_Footer .main_card_Footer__detailWrapper{
    margin: 0;
    display: flex;
    align-items: center;
}
span.main_card_Footer__detailIcon{
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
    border-radius: 50%;
    background: #edf1f9;
}
span.main_card_Footer__detailLabel{
    margin: 0 .5rem 0 0;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 0;
}
.main_card .main_card_Footercontainer .main_card_Footer .main_card_Footer__Footericon{
    flex: 0 0;
    font-size: .875rem;
}



/* ------------Đky login------------- */

.root_img{
    width: 100%;
    background-image: url(../img/itsblockchain_solana_official.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}
.style_content__register{
    position: absolute;
    right:45px;
    width: 500px;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    border-radius: 30px;
    border: 1px solid #eee;
    background-color: #fff;
}
.style_body{
    flex: auto;
    border-radius: 0 0 40px 40px;
    padding: 2rem;
}
.react_tabslist{
    display: inline-flex;
    border-radius: 2rem;
    border: none;
    margin-bottom: 2rem;
    padding: 0;
    background: #fff4c9;
    overflow: hidden;
}
.style_tabs_login{
    width: 150px;
    border-radius: 2rem;
    padding: .7rem 2rem;
    color: #111;
    background: 0 0!important;
    cursor: pointer;
    list-style-type: none;
    text-align: center;
}
.style_tabs_register{
    width: 150px;
    background: #ff9933!important;
    border-radius: 2rem;
    padding: .7rem 2rem;
    color: #111;
    /* background: 0 0!important; */
    cursor: pointer;
    list-style-type: none;
    text-align: center;
}

.style_formGroup{
    display: flex;
    width: 100%;
    margin: 0 0 1rem;
    font-size: 1.125rem;
    line-height: 1;
}
.style_input_container{
    flex: 1 1 auto;
    max-width: 100%;
}
.style_container{
    height: 40px;
    display: flex;
    border-radius: 20px;
    line-height: 1;
    overflow: hidden;
}
.style_iconcontainer{
    padding: 0 10px 0 10px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    border: 0;
    color: #959595;
    background-color: #e7e7e7;
    font-size: 1rem;
}
.iconfas{
    width: 20px;
    height: 16px;
    color: #FF9966!important;
}
.style_input{
    flex: 1 1 auto;
    font-size: 1rem;
    min-width: 0;
}
.style_input input{
    box-shadow: none;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0 .75rem;
    background-color: #f6f6f6;
    outline: none;
}
/* -------------------------- */
.style_seferater{
    height: 1px;
    border-top: 1px dashed #c1c1c1;
    margin: 0 0 1rem;
}
.style_button{
    height: 40px;
    padding: 0 20px;
    border : none;
    border-radius: 30px;
    width: 435px;
    /* cursor: not-allowed; */
    color: #000!important;
    background-color: #ff9933!important;
}



/* ------------chitiet_bds----------------- */
.main_chitiet_bds-container{
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    border-top: 1px solid ;
}
.main_section__chitiet_bds{
    align-self: center;
    display: flex;
    margin-top: 2rem;
    max-width: 82.1875rem;
    width: 100%;
}
.main_section__chitiet_bds:first-child{
    margin-top: 0;
}
.main_section__chitiet_bds-Col1{
    flex: 1 0;
    min-width: 0;
}
.main_section__chitiet_bds--card{
    font-size: .875rem;
    line-height: 1;
    flex-direction: row!important;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    border: 1px solid #eee;
    background-color: #fff;
}

.main_section__chitiet_bds--placeholder{
    position: relative;
    width: 20rem;
    height: 100%;
    background-size: cover;
    border-radius: 30px;
}
.main_section__chitiet_bds--placeholder--img{
    /* position: absolute; */
    top: 0;
    width: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
/* ---- */
.main_section__chitiet_bds--body{
    flex: auto;
    border-radius: 0 0 40px 40px;
    padding: 20px;
}
.main_section__chitiet_bds--body--title{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    line-height: 35px;
}
.main_section__chitiet_bds--body--badgePrice{
    display: inline-block;
    border-radius: 10px;
    margin-top: .625rem;
    padding: .25rem .75rem;
    background-color: #fff4c9;
}
.main_section__chitiet_bds--body--addressContainer{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.main_section__chitiet_bds--body--addressIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 25px;
    background: #edf1f9;
}
.main_section__chitiet_bds--body--address{
    flex: auto;
    margin-left: .75rem;
    width: 0;
    color: #12161c;
    text-overflow: ellipsis;
    overflow: hidden;
}
.main_section__chitiet_bds--body--divider{
    width: 100%;
    height: 1px;
    border-top: 1px solid rgba(0,0,0,.06);
    margin : 10px 0;
}
.main_card_Investercontainer--row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);

    flex-shrink: 0;
    width: 100%;
    /* max-width: 100%; */
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);
}
.main_card_Investercontainer--col{
    flex: 1 0 0%;
}
.main_card_Investercontainer--textFriction{
    color: #c36605;
    font-weight: 700;
    text-align: right;
}
.main_card_Investercontainer--Progresscontainer{
    margin-top: .2rem;
    /* margin-bottom: .5em; */
    display: flex;
    align-items: baseline;
    width: 100%;
}
.main_card_Investercontainer--Progress{
    flex: auto;
    position: relative;
    display: flex;
    width: 100%;
    height: .75rem;
    border: 0;
    border-radius: 5.5px;
    background-color: #f5f5f5;
    overflow: hidden;
}
.main_card_Investercontainer--Progressvalue{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 5.5px;
    background-color: #ffcb00;
    transition: width .6s ease;
}
/* ------------- */
.main_section__chitiet_bds--cardWrapper{
    margin-top: 20px;
    font-size: .875rem;
    line-height: 1;
    flex-direction: row!important;
    /* display: flex;
    flex-direction: column; */
    border-radius: 30px;
    border: 1px solid #eee;
    background-color: #fff;
}
.main_section__chitiet_bds--card--headerWrapper{
    padding : 20px 20px 0;
}
.main_section__chitiet_bds--card--header{
    border-radius: 40px 40px 0 0;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 1rem;
    width: 840px;
}
.main_section__chitiet_bds--card--hcardTitleWrapper{
    font-size: 30px;
    font-weight:600;
}
.main_section__chitiet_bds--card--body{
    flex: auto;
    border-radius: 0 0 40px 40px;
    padding: 2rem;
}
.main_section__chitiet_bds--card--bodyRow{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}
.col-md-6{
    flex: 0 0 auto;
    width: 50%;
}



/* ----- */
.main_section__chitiet_bds-Col2{
    margin-left: 2rem;
    width: 23.625rem;
}
.main_section__chitiet_bds--body--projectStarrtus{
    min-height: 170px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.main_section__chitiet_bds--body--IconstartusSuccess{
    height: 170px;
    
}
.main_section__chitiet_bds--body--Icon{
    width: 100px;
}
.main_section__chitiet_bds--body--startusText{
    font-size: 30px;
    font-weight: 600;
    color: #EF5530;
    margin-left: 30px;
}
span.prop-label{
    font-weight: 600;
    margin-right: 10px;
}
.main_section__chitiet_bds--card--bodyInformation{
    font-size: 1rem;
    box-sizing: border-box;
    font-family: Helvetica,Arial,sans-serif;
    height: 100%;
    margin: 0;
    position: relative;
    line-height: 2 ;
    text-align: left;
   tab-size: 4;
    word-wrap: break-word;
}
/* ----------------Account-----------------*/
.main_page{
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 1345px;
}
.main_page-Background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}
.main_page-Background-header{
    min-height: 60vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding: 50px 0;     */
}
.text_center{
    text-align: center!important;
}
.main_page-Background_img{
    margin-left: -6px;
    max-width: 50%;
    height: auto;
}
.back_to_hone_page{
    margin: 30px;
}
.back_to_hone_page_a{
    font-weight: 600;
    padding: 0.75rem 2.5rem;
    line-height: 1;
    background-color: #FF9933;
    color: #111;
    border: none;
    border-radius: 2rem;
    text-decoration: none;
}
.back_to_hone_page_icon{
    width: 30px;
    height: 30px;
    text-align: center;
    /* line-height: 30px;
    display: inline-block; */
    font-size: 17px;
    margin-right: 5px;

}

.main_page-Content{
    display: flex;
    flex-direction: row;
    margin: 60px 0 70px;
    position: relative;
    width: 1250px;
    padding: 0 0 2rem;
    z-index: 200;
}
.main_page-Content-sidebarContainer{
    flex: 0 0;
    width: 20.9375rem;
    min-width: 20.9375rem;
    box-shadow: 0 5px 21px 0 rgb(184 159 59 / 15%);
}
.main_page-Content-sidebar{
    width: 100%;
    border: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    border: 1px solid #eee;
    background-color: #fff;
}

.main_page-Content-sidebar--profileHeadercardWrap{
    border: 0;
    font-size: 1.375rem;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    border: 1px solid #eee;
    background-color: #fff;
}
.main_page-Content-sidebarProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    line-height: 1;
    background: #fff4c9;
    flex: auto;
    border-radius: 0 0 40px 40px;
    padding: 2rem;
}
.main_page-Content-sidebarProfile--avatar{
    max-width: 100px ;
  border-radius: 50%;
    margin-bottom: 1rem;
}
.main_page-Content-sidebar--profile-Body{
    flex: auto;
    border-radius: 0 0 40px 40px;
    padding: 2rem;
}
.main_page-Content-sidebar--profile-BodyNavContainer{
    margin: 0;
    padding: 0 0 1rem;
    list-style: none;
    /* overflow: auto; */
}
.main_page-Content-sidebar--profile-BodyNavWrapper{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #edf0f7;
}
.main_page-Content-sidebar--profile-BodyNavWrapper:hover,
.main_page-Content-sidebar--profile-BodyNavWrapper.active{
    background-color: #FF9966;
}
.main_page-Content-sidebar--profile-BodyNavWrapper:last-child{
    border-bottom: none;
}
.main_page-Content-sidebar--profile-BodyNavWrapper__Activity{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px;
    text-decoration: none;
    color: #000;
}




.main_page-Content-pageContainer{
    flex: auto;
    margin-left: 2rem;
}
.main_page-Content-pageContainer__Title{
    font-size: 2.5rem;
    margin: 1.25rem 0 0;
    color : #2D3954;
}
.main_page-Content-pageContainer__desc{
    font-size: 1rem;
    color : #2D3954;
}
.main_page-Content-pageContainer__WalletContainer{
    margin: 4rem 0 2rem;
    width: 100%;
    display: flex;
}
.WalletContainer__walletBodyWrapper{
    background-color: #ff9966; 
    color: #000;  
    flex: auto;
    border-radius: 20px;
    padding: 1.5rem 2rem;
    margin-right: 1rem;
    box-shadow: 0 5px 21px 0 rgb(184 159 59 / 15%);
}
.WalletContainer__walletBodyWrapper:last-child{
    margin-right:none!important;
}
.WalletContainer__walletBody{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
.WalletContainer__walletBody_amountContainer{
    flex: 1 1;
    line-height: 1;
    min-width: 0;
}
.WalletContainer__walletBody_amount{
    display: block;
    font-size: 1.5rem;
    overflow-x: auto;
    overflow-y: hidden;
}
.WalletContainer__walletBody_currencyName{
    display: block;
    font-weight: 500;
    padding-top: 5px;
    text-transform: capitalize;
}
.WalletContainer__walletBody_iconContainer{
    flex: 0 0 auto;
    width: 3.375rem;
    height: 3.375rem;
}
.WalletContainer__walletBody_iconContainer__currencyIcon{
    border-radius: 50%;
    display: inline-flex;
    width: 50px;
    height: 50px;
}
.main_page-Content-pageContainer__WalletAddresss{
    position: relative;
    display: flex;
    margin-top: 1rem;
    background-color: #f2f2f2;
    border-radius: 20px;
    border: 1px solid #eee;
    box-shadow: 0 5px 21px 0 rgb(184 159 59 / 15%);
}
.main_page-Content-pageContainer__WalletAddresssBody{
    flex: auto;
    border-radius: 0 0 40px 40px;
    padding: 1rem 6rem 1rem 2rem;
}
.main_page-Content-pageContainer__WalletAddresssBodyabel{
    margin-right: 0.5rem;
    word-break: break-all
}
.main_page-Content-pageContainer__WalletAddress{
    flex: auto;
    word-break: break-all;
}
.main_page-Content-pageContainer__WalletButtonContainer{
    position: absolute;
    right: 2rem;
    top: 1rem;
}
.WalletButtonContainer{
    width: 24px;
    height: 24px;
    padding: 0 5px;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0;
    color: #12161c;
    font-weight: 600;
    background-color: #efefef;
    overflow: hidden;
    line-height: 1;
}
.main_page-Content-pageContainer__transactionHistory{
    margin-top: 1rem;
    min-height: 12.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 0 5px 21px 0 rgb(184 159 59 / 15%);
}
.main_page-Content-pageContainer__transactionHistoryheaderWrapper{
    padding: 2rem 2rem 0;
}
.main_page-Content-pageContainer__transactionHistoryheader{
    border-radius: 40px 40px 0 0;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 1rem;
}
.main_page-Content-pageContainer__transactionHistoryheaderTitle{
    margin: 0;
    font-size: 26px;
}
.main_page-Content-pageContainer__transactionHistoryBody{
    flex: auto;
    border-radius: 0 0 40px 40px;
    padding: 2rem;
}
.main_page-Content-pageContainer__transactionHistoryBody_Transactionwrapper{
    position: relative;
}
.table{
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}
.table_tr{
    text-align: left;
    border-bottom: 1px solid #dee2e6!important;
    padding-bottom : 20px;
}

.table_tr th,td{
    padding: 10px 3px;
}
.table_tr__Adress{
   
    font-size: 14px;
}
.table_tr__daytime{
    font-size: 12px;
}

/* -------------- */
/* Tabs */
.tabs {
    width: 800px;
    background-color: #09F;
    border-radius: 5px 5px 5px 5px;
    margin-top: 10px;
  }
  ul#tabs-nav {
    list-style: none;
    margin: 0;
    padding: 5px;
    overflow: auto;
  }
  ul#tabs-nav li {
    float: left;
    font-weight: bold;
    margin-right: 2px;
    padding: 8px 10px;
    border-radius: 5px 5px 5px 5px;
    /*border: 1px solid #d5d5de;
    border-bottom: none;*/
    cursor: pointer;
  }
  ul#tabs-nav li:hover,
  ul#tabs-nav li.active {
    background-color: #08E;
  }
  #tabs-nav li a {
    text-decoration: none;
    color: #FFF;
  }
  .tab-content {
    padding: 10px;
    border: 5px solid #FF9966;
    background-color: #FFF;
  }
  .change_password{
    height: auto;
    width: 100%;
    float: right;
}
.style_tabs_change_password{
    width: 300px;
    background: #ff9933!important;
    border-radius: 2rem;
    padding: .7rem 2rem;
    color: #111;
    /* background: 0 0!important; */
    cursor: pointer;
    list-style-type: none;
    text-align: center;
    font-weight: bold;

    margin:0 0 30px 30px;
}
.lienhe{
    /* margin-top: 20px; */
    border-top: 1px solid #000;
    padding: 20px 0 0 80px ;
}
/* ----------------- */
.tintuc{
    border-top: 1px solid #000;
    padding: 20px 0 0 40px ;
}
ul.product_list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
ul.product_list li img {
    height: 200px;
}
ul.product_list li {
    width: 24%;
    border: 1px solid #ddd;
    margin: 5px;
    float: left;
    height: 370px;
    overflow: hidden;
    display: block;
    /* display: -webkit-box; */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
ul.product_list li:hover{
    box-shadow: 1px 4px 0 rgb(0 0 0 / 5%);
    transform: translateY(-4px);
}
ul.product_list li a {
    text-decoration: none;
}
ul.product_list li img {
    width: 100%;
}
p.price_product {
    text-align: center;
    color: red;
    font-size: 16px;
    font-weight: bold;
}
p.title_product {
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
ul.baiviet {
    padding: 20px;
    margin: 0;
    list-style: none;
}
ul.baiviet li {
  
   border:1px solid #ddd;
   padding: 10px;
}
.giohanh{
    padding-top: 50px;
    border-top:1px solid;
}
.giohang_tr{
    border-bottom: 1px solid rgb(68, 65, 65);
}
.giohang_tr:hover{
    background-color: #f5f5f5;
}