*{
    margin: 0;
    padding: 0;
}
.root{
    width: 100%;
    max-width: 100%;

}
.root_img{
    width: 100%;
    /* margin: 0 auto;   */
    background-image: url(../../img/itsblockchain_solana_official.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 618px;
}
.style_content__register{
    position: absolute;
    right:45px;
    width: 500px;
    display: flex;
    margin-top: 90px;
    flex-direction: column;
    border-radius: 30px;
    border: 1px solid #eee;
    background-color: #fff;
}
.style_body{
    flex: auto;
    border-radius: 0 0 40px 40px;
    padding: 2rem;
}
.react_tabslist{
    display: inline-flex;
    border-radius: 2rem;
    border: none;
    margin-bottom: 2rem;
    padding: 0;
    background: #fff4c9;
    overflow: hidden;
}
.style_tabs_login{
    width: 100px;
    border-radius: 2rem;
    padding: .7rem 2rem;
    color: #111;
    background: 0 0!important;
    cursor: pointer;
    list-style-type: none;
    text-align: center;
}
.style_tabs_register{
    width: 100px;
    background: #ff9933!important;
    border-radius: 2rem;
    padding: .7rem 2rem;
    color: #111;
    /* background: 0 0!important; */
    cursor: pointer;
    list-style-type: none;
    text-align: center;
}

.style_formGroup{
    display: flex;
    width: 100%;
    margin: 0 0 1rem;
    font-size: 1.125rem;
    line-height: 1;
}
.style_input_container{
    flex: 1 1 auto;
    max-width: 100%;
}
.style_container{
    height: 40px;
    display: flex;
    border-radius: 20px;
    line-height: 1;
    overflow: hidden;
}
.style_iconcontainer{
    padding: 0 10px 0 10px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    border: 0;
    color: #959595;
    background-color: #e7e7e7;
    font-size: 1rem;
}
.iconfas{
    width: 20px;
    height: 16px;
    color: #FF9966;
}
.style_input{
    flex: 1 1 auto;
    font-size: 1rem;
    min-width: 0;
}
.style_input input{
    box-shadow: none;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0 .75rem;
    background-color: #f6f6f6;
}
/* -------------------------- */
.style_seferater{
    height: 1px;
    border-top: 1px dashed #c1c1c1;
    margin: 0 0 1rem;
}
.style_button{
    height: 40px;
    padding: 0 20px;
    border : none;
    border-radius: 30px;
    width: 435px;
    cursor: not-allowed;
    color: #000!important;
    background-color: #ff9933!important;
}